<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>

    <title>Index</title>

</head>
<body>
<ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="result.html">result</a></li>
    <li role="presentation"><a href="informationSubmit.html">information</a></li>
</ul>

<h3>订单信息</h3>
<ul th:each="Order:${lists}">
    <li>
        <span th:text="${Order.yibanid}"></span>
        <span th:text="${Order.number}"></span>
        <span th:text="${Order.company}"></span>
        <span th:text="${Order.details}"></span>
        <span th:text="${Order.mobilenumber}"></span>
        <span th:text="${Order.username}"></span>
        <span th:text="${#dates.format(Order.creattime,'yyyy/MM/dd HH:mm')}"></span>

        <span th:text="${Order.couriervalue}"></span>
        <span><a th:text="${Order.uservalue}" th:href="@{/changeuservalue(id=${Order.id})}"></a></span>
        <span th:text="${Order.ordervalue}"></span>

    </li>
</ul>
</body>
</html>